@{
    var path = Context.Request.Path.Value.Replace("/Home/Index/", "");
}
<header>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupHN" />
    @if (Context.Request.Path.Value != null && ViewBag.MenuData.ContainsKey(path))
    {
        <h1>@ViewBag.MenuData[path][1]</h1>
    }
    else if (path == "/Home/ValidationFormulaire")
    {
        <h1>Formulaire TP HN avis</h1>
        path = "Form";
    } 
    else {
        <h1>Welcome to TP HN</h1>
    }

</header>

<nav>
    <ul>
        @foreach (var pageName in ViewBag.MenuData)
        {
            if (path != pageName.Key)
            {
                <li><a href="/Home/Index/@pageName.Key">@pageName.Value[0]</a></li>
            }
            
        }
    </ul>
</nav>
